<ion-list>
  
  <ion-item-sliding *ngFor="let todoCollection of collections" @shrinkHeight @fadeOut @fadeInDown>
    
    <ion-item-options side="start">
      <ion-item-option color="primary" (click)="editCollection(todoCollection)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    
    <ion-item
      routerLink="/tabs/{{currentTab}}/add/{{todoCollection.id}}"
      button detail>
      <ion-label>{{ todoCollection.title }}</ion-label>
      <ion-note slot="end" color="tertiary">{{ todoCollection.todoItems.length }} Items</ion-note>
    </ion-item>
    
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="removeCollection(todoCollection)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    
  </ion-item-sliding>
  
</ion-list>
