<app-tab-header title="Todo"></app-tab-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->
  
  <div class="ion-padding-top">
    <ion-text *ngIf="collections.length === 0" class="ion-text-center" color="warning">
      <h2 @fadeIn><span>No list to show here<br> Add a new list</span></h2>
    </ion-text>
  </div>
  
  <app-todo-collections
    *ngIf="collections.length > 0"
    [currentTab]="'tab1'"
    [collections]="collections"
    (collectionRemoved)="featchCollections()">
  </app-todo-collections>
  
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addNewCollection()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
